.section-container {
  width: 100%;
  padding: 0 40px;
  max-width: 100%;
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 900px) {
  .section-container {
    padding: 0 20px;
  }
}
